/* Custom Variables | Color Scheme */

:root {
  --primary: #769aee;
  --primary-focus: #ffffff;
  --text-light: #eeeeee;
  --background: #17191C;
  --background-light: rgba(0, 0, 0, 0.2);
  --background-focus: rgba(0, 0, 0, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: var(--text-light);
  font-family: "Open Sans", sans-serif;

  padding: 0rem 9rem;
  background-image: url('mohammad-alizade-XgeZu2jBaVI-unsplash.jpg');
  background-size: cover;
  background-color: var(--background);
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h1>span {
  color: var(--primary);
}

main {
  margin-top: 4rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#currentDate {
  color: var(--primary);
}

#currentTime {
  font-size: 6rem;
  font-weight: 600;
}

@media screen and (max-width: 1250px) {
  h1 {
    display: none;
  }

  .header {
    flex-direction: column-reverse;
  }

  #currentTime {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  #fullDate {
    text-align: center;
  }
}

/* .card {
  flex-grow: 1;
} */

.card:link,
.card:visited {
  color: white;
  text-decoration: none;

  margin: 2rem;
  padding: 1rem 2rem;

  background-color: var(--background-light);
  border-radius: 21px;
  border: 2px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  cursor: pointer;
  position: relative;

  outline: none;
  transition: 0.5s;
}

.card:hover,
.card:focus {
  background-color: var(--background-focus);
  border-color: var(--primary-focus);
  color: var(--primary-focus);
  transform: scale(1.2);
}

.card:focus>.card__name {
  bottom: 0;
}

.card:hover>.card__name {
  bottom: 0;
}

.card__icon {
  font-size: 0.2rem;
  padding: 2rem;

  /* background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%; */

  display: grid;
  place-items: center;
}

.card__emoji {
  font-size: 50pt;

  padding: 0.2rem;

  /* background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%; */

  display: grid;
  place-items: center;
}

.card__image {

  padding: 0.2rem;

  /* background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%; */

  display: grid;
  place-items: center;
}

.card__name {
  font-weight: 600;
  transform: translate(0%, -50%);
  position: absolute;
  bottom: -35%;
  /* left: 50%; */
  transition: 0.2s;
}

footer {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2rem;
}

footer>a:link,
footer>a:visited {
  color: inherit;
}

footer>a:hover {
  color: var(--primary);
}

#searchbar {
  text-align: center;
  transition: 0.5s;
}

#searchbar_input,
select,
textarea {
  color: var(--primary);
  font-size: 3rem;
  text-align: center;
  background-color: var(--background-light);
  border-radius: 21px;
  border: 2px solid rgba(255, 255, 255, .05);
  padding: .7rem;
  transition: 0.5s;
}

#searchbar_input:focus,
#searchbar_input:hover {
  background-color: var(--background-focus);
  color: var(--primary-focus);
  border-color: var(--primary-focus);
  outline: none;
  transform: scale(1.2);
}